<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>简易画板.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5DE7E70F1C2AB0DD008C8233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DE7E7281C2AB0DD008C8233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DE7E7331C2AB0DD008C8233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
